* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.website-container{
    background-color: black;
}
.menu {
    position: relative;
}

.menu-button {
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    margin-left: 600px;
}

.menu-button:hover {
    background-color: darkblue;
}

.dropdown {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7e57c2;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.dropdown.show {
    opacity: 1;
    transform: translateY(0);
}

.dropdown ul {
    list-style-type: none;
}

.dropdown ul li {
    margin: 20px 0;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.dropdown ul li:hover {
    color: #ccc;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3em;
    color: white;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}
